{% extends 'base.html.twig' %}


{% block title %}

    Hello PostController!
{% endblock %}

{% block body %}
    {% if app.user %}
        Привет, {{app.user.email}}  | <a href={{ path('app_logout') }}>Выйти</a>
    {% else %}
        <a href={{ path('app_login') }}>Войти</a> | <a href={{ path('app_register') }}>Зарегестрироваться</a>
    {% endif %}
    <a href="{{ path('connect_google_start') }}">Войти через Google</a><br>
    <a href="{{ path('connect_github_start') }}">Войти через Github</a><br>
    <form class="form-inline my-2 my-lg-0" action="{{ path('blog_search') }}" method="get">
        <input class="form-control mr-sm-2 w-25" type="search" aria-label="Search" name="q">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Ищем</button>
    </form>
    {% for post in posts %}
        <a href="{{ path('post_show', {'slug': post.slug}) }}">{{ post.title }}</a><br><br>
    {% endfor %}
{% endblock %}
